{% extends 'main.html' %}

{%block content%}

{% if page == 'login' %}
<div>
    <form method="post" action="{% url 'loginRegistration'%}">
        {% csrf_token %}
        <label> Username: </label>
        <input type="text" name="username" placeholder="Enter Username" />
        <label> Password: </label>
        <input type="password" name="password" placeholder="Enter Password" />

        <input type="submit" value="login"/>
    </form>
    <p>Create an account with us here</p>
    <a href="{% url 'registerUser' %}"> Sign up </a>
</div>
{% else %}
<div>
    <form method="post" action="{% url 'registerUser'%}">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="register"/>
    </form>
    <p>Already Signed up?</p>
    <a href="{% url 'loginRegistration' %}"> login </a>
</div>

{% endif %}
{%endblock content%}